*{
    margin: 0;
    padding: 0;
    box-sizing: borde-box;
}

body{
    font-family: 'open sans';
}

.contenedor{
    padding: 60px 0;
    width:  90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header {
    width: 100%;
    height: 600px;
    background: #A7C957; /* Fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A7C957, #D9E5AA), url(../images/fondo/gatos-y-perros1.jpg); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ccf769cc, #d9e5aa65), url(../images/fondo/gatos-y-perros1.jpg); /* W3C, IE 10+/Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 30px 50px 0 50px;
    background: rgba(255, 255, 255, 0.467);
    height: 9%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-links > a {
    color: #7f7d7d;
    font-weight: 300;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s ease, transform 0.3s ease; /* Agregamos la transición para transform */
  }
  
  .nav-links > a:hover {
    text-decoration: underline;
    color: #030202;
    transform: translateY(-3px); /* Elevamos el elemento 3px hacia arriba */
  }
  
  nav > a {
    color: #7f7d7d;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease; /* Agregamos la transición para transform */
  }
  
  nav > a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  nav > a:hover::before {
    background-color: #f8f8f8;
  }
  
  nav > a:hover {
    color: #f8f8f8;
    transform: translateY(-3px); /* Elevamos el elemento 3px hacia arriba */
  }

  
.logo {
    margin-right: auto; /* Empuja el logo hacia el extremo derecho */
    position: relative;
    top: -8px;
}

.logo img {
    max-width: 40px; /* Define el ancho máximo de la imagen del logo */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
}

.lugrasimo-regular {
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
  }

  /************LETRA************/
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

#header-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: #333;
  margin-bottom: 10px;
  animation: glow 2s ease-in-out infinite alternate;
}

#header-text-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: #555;
}

@keyframes glow {
  from {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  to {
    text-shadow: 2px 2px 8px rgba(255, 165, 0, 0.6);
  }
}
/**********************************************/
  

  

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor-sobre-nosotros{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    top: -20px;
}

.imagen-about-us{
    width: 48%;
}
.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*Galeria*/

.portafolio {
    position: relative; /* Esto permitirá que la imagen de fondo se coloque debajo del contenido */
  }
  
  .portafolio::before {
    content: ""; /* Esto creará un pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/gato.jpg); /* Reemplaza esta ruta por la ruta de tu imagen de fondo */
    background-size: cover; /* Esto hará que la imagen cubra todo el área */
    background-position: center; /* Esto centrará la imagen */
    filter: blur(5px); /* Esto difuminará la imagen, puedes ajustar el valor según tus preferencias */
    z-index: -1; /* Esto colocará la imagen de fondo detrás del contenido */
  }
.portafolio{
    background: #f2f2f215;
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 150px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/*Clients*/

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-text-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-text-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*Our Team*/
.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/*footer*/
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}
.content-foo h4{
    color: #ccc;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

.btn-adoptar {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff6b6b;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .btn-adoptar:hover {
    background-color: #ff4d4d;
  }

/*TIMISSSS*/

  .card .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover{
    background: #83277b;
}

.card .description{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .description{
    padding: 40px;
}

.card .description h2{
    margin-top: 10px;
}

.card .description p{
    margin-top: 10px;
}
.card:hover .img__back{
    bottom: -40px;
}

.card:nth-of-type(1) .img__back{
    background-image: url(../images/bg1.jpg);
}
.card:nth-of-type(2) .img__back{
    background-image: url(../images/bg1.jpg);
}
.card:nth-of-type(3) .img__back{
    background-image: url(../images/bg1.jpg);
}

.card{
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}

.card:hover{
    width: 350px;
}

.card .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.card:hover .cover img{
    top: 0px;
    filter: none;
}

.card .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}